/* Nested*/
nav {
    ul {
      list-style-type: disc;
      li {
        color: blue;
      }
    }
  }
  
  /* Nested*/
  p {
    font : {
      family: Helvetica, sans-serif;
      size: 18px;
      weight: bold;
    }
  
    text : {
      align: center;
      transform: lowercase;
      overflow: hidden;
    }
  }
  
  /*Custom CSS and HTML tag*/
  custom {
      color: aqua;
  }
  